.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/temp/FileContentIndex/a733f539-106d-4835-8dbb-d4f58a20dc31.vsidx
.vs/temp/FileContentIndex/read.lock
.vs/temp/v17/.wsuo
.vs/temp/v17/Browse.VC.db
temp11/.vs/temp11/FileContentIndex/76d98595-cbaf-42ee-8bcc-c06b39e11d54.vsidx
temp11/.vs/temp11/FileContentIndex/8f8be3cc-8ebc-4a34-a8cf-7bea68a8d6fb.vsidx
temp11/.vs/temp11/FileContentIndex/read.lock
temp11/.vs/temp11/v17/.suo
temp11/.vs/temp11/v17/Browse.VC.db
temp11/.vs/temp11/v17/Browse.VC.db-shm
temp11/.vs/temp11/v17/Browse.VC.db-wal
temp11/.vs/temp11/v17/Browse.VC.opendb
temp11/.vs/temp11/v17/ipch/AutoPCH/303485a314634b88/TEMP1.ipch
temp11/temp11/x64/Debug/temp1.obj
temp11/temp11/x64/Debug/temp11.exe.recipe
temp11/temp11/x64/Debug/temp11.ilk
temp11/temp11/x64/Debug/temp11.log
temp11/temp11/x64/Debug/vc143.idb
temp11/temp11/x64/Debug/vc143.pdb
temp11/temp11/x64/Debug/temp11.tlog/CL.command.1.tlog
temp11/temp11/x64/Debug/temp11.tlog/Cl.items.tlog
temp11/temp11/x64/Debug/temp11.tlog/CL.read.1.tlog
temp11/temp11/x64/Debug/temp11.tlog/CL.write.1.tlog
temp11/temp11/x64/Debug/temp11.tlog/link.command.1.tlog
temp11/temp11/x64/Debug/temp11.tlog/link.read.1.tlog
temp11/temp11/x64/Debug/temp11.tlog/link.write.1.tlog
temp11/temp11/x64/Debug/temp11.tlog/temp11.lastbuildstate
temp11/x64/Debug/temp11.exe
temp11/x64/Debug/temp11.pdb
temp11/.vs/temp11/FileContentIndex/d5ce407d-701e-42fe-8500-404aad169990.vsidx
temp11/
